<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <add key="sip" value="213.171.200.47"/>

    <add key="sport" value="3306"/>

    <add key="susername" value="bquteam"/>

    <add key="spassword" value="vSo1TKGY44EN+JDlMbmtEg=="/>

    <add key="dbname" value="tmscom"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
